<footer class="my-5">
  <div class="row text-center">
    <div class="col">
      <ul class="list-inline">
      </ul>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="row text-center" style="padding: 1em 0;">
        <div class="col-md-12">
          <!-- <%= render 'user_mailer/googleplay'%> -->
          <a target="_blank" href="https://itunes.apple.com/{{ site.active_lang }}/app/pdf-invoice-maker-estimates/id1435778692?mt=8"><img src="/appstore.{{ site.active_lang }}.png" width="131" height="44" alt="{{ site.data.t.appstore_ios }}" title="{{ site.data.t.appstore_ios }}"></a>
        </div>
      </div>

      Copyright © {{ 'now' | date: "%Y" }}&nbsp;Invoice Home Inc.
    </div>
  </div>
</footer>
