<footer class="my-5">
  <div class="row text-center">
    <div class="col">
      <ul class="list-inline">
      </ul>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="row text-center" style="padding: 1em 0;">
        <div class="col-md-12">
          <a href='https://play.google.com/store/apps/details?id=com.invoicehome.invoicehome&utm_source=mailing&utm_medium=email&utm_campaign=report&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='{{ site.data.t.google_play }}' src='https://play.google.com/intl/en_us/badges/static/images/badges/{{ site.active_lang }}_badge_web_generic.png'>
          </a>

          <a target="_blank" href="https://itunes.apple.com/{{ site.active_lang }}/app/pdf-invoice-maker-estimates/id1435778692?mt=8">
            <img src="{{ site.baseurl }}/assets/img/appstore.{{ site.active_lang }}.svg" width="131" height="44" alt="{{ site.data.t.appstore_ios }}" title="{{ site.data.t.appstore_ios }}">
          </a>
        </div>
      </div>

      Copyright © {{ 'now' | date: "%Y" }}&nbsp;Invoice Home Inc.
    </div>
  </div>
</footer>
